.navbar-icon {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #eff8f2;
  margin: 0 auto 4px;
}

.nav-link {
  font-size: 12px;
  line-height: 14px;
  color: rgba(58, 172, 89, 0.8);
}

.nav-link.active {
  font-weight: bold;
  color: black;
}
